html, body, #root {
  margin: 0;
    padding: 0;
      height: 100%;
      width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-top: 5px;;
    gap: 5px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    margin-left: 5px;
    gap: 30px;
    align-items: center;
}

.expandRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    padding-right:5px;
    width: fit-content;
    height: fit-content;
}

.expandText {
    height: 40px;
    align-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background-color: rgb(246, 246, 246);

}


.filterBar {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    border-style:hidden;
    border-radius: 1%;
}

.rankingList table, 
.rankingList tr, 
.rankingList td{
    border:none;
    background-color: transparent;
    padding-left: 10px;
}

.cardContent {
    border-style: solid;
    border-width: 2px;
    border-radius: 2%;
    border-color: grey;
}

.flexColumnScroll {
    display: flex;
    flex-direction: column;
    margin-top: 5px;;
    gap: 5px;
    overflow-y: auto;
    height: 30vh;
}

.center {
    justify-content: center;
    justify-items: center;
}


.dropDown {
    position: absolute;
    border-width: 2px;
    width: 40vw;
}

.dropBorder {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-radius: 2%;
}

.dropDownButton {
    width: fit-content;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0em 0em;
    border-radius: 0;
}

.filterButton {
    width: fit-content;
    height:40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0em 0em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.bannerContainer {
    position: absolute;
    z-index: -100;
}

.bannerHeader {
    display:flex;
    position: relative;
    background-image: url('../assets/sky.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    font-size:60px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #122643;
  overflow: hidden;
  box-sizing: border-box;
}

.nav li { float: left; }
.nav li a {
  display: block;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.413);
}

.nav li:last-child a { border-right: 1px solid rgba(255, 255, 255, 0.413); }

.nav li a:hover, .nav li a.active { background: #1565c0; }

.positive {
    color:rgb(0, 255, 0);
    font-weight: bold;
    text-decoration: underline;
}

.leanPositive {
    color:rgb(155, 205, 81);
    font-weight: bold;
}

.negative {
    color:red;
    font-weight: bold;
    text-decoration: underline;
}

.leanNegative {
    color:rgb(185, 66, 66);
    font-weight: bold;
}

.middle {
    color: rgb(70, 70, 70);
}

.dataTable th, td{
    border: 1px solid, rgb(140, 140, 219);
}

table, th, td {
    border-collapse: collapse;
}

th {
    background-color: #122643;
    color:white;
}

.box {
    display: flex;;
    flex-direction: column;
    gap: 5px;
}

select {
    width: fit-content;
}

button {
    width: fit-content;
}

input {
    width: fit-content;
}

.toolRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 5px;;
    gap: 5px;
}

h2 {
    border-bottom: blue solid 4px;
}

.expandTitle {
    border-color: grey;
    border-width: 3px;
    width: ;
}