html, body, #root {
  margin: 0;
    padding: 0;
      height: 100%;
      width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin-top: 5px;;
    gap: 5px;
}

.bannerContainer {
    position: absolute;
    z-index: -100;
}

.bannerHeader {
    display:flex;
    position: relative;
    background-image: url('../assets/sky.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    font-size:60px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #122643;
  overflow: hidden;
  box-sizing: border-box;
}

.nav li { float: left; }
.nav li a {
  display: block;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.413);
}

.nav li:last-child a { border-right: 1px solid rgba(255, 255, 255, 0.413); }

.nav li a:hover, .nav li a.active { background: #1565c0; }

.positive {
    color:rgb(0, 255, 0);
    font-weight: bold;
    text-decoration: underline;
}

.leanPositive {
    color:rgb(155, 205, 81);
    font-weight: bold;
}

.negative {
    color:red;
    font-weight: bold;
    text-decoration: underline;
}

.leanNegative {
    color:rgb(185, 66, 66);
    font-weight: bold;
}

.middle {
    color: rgb(70, 70, 70);
}

table, th, td{
    border: 1px solid, rgb(140, 140, 219);
    border-collapse: collapse;
}

tr:nth-child(even) {background-color:rgb(232, 242, 253)}

th {
    background-color: #122643;
    color:white;
}

.box {
    display: flex;;
    flex-direction: column;
    gap: 5px;
}

select {
    width: fit-content;
}

button {
    width: fit-content;
}

input {
    width: fit-content;
}

.toolRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 5px;;
    gap: 5px;
}

h2 {
    border-bottom: blue solid 4px;
}
/* Sticky config for the date slider */
.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  color:rgb(70, 70, 70);
  z-index: 1000; /* Ensures it's on top of other elements */
}

/* Dual range slider 
ORIGINAL SOURCE: https://codepen.io/predragdavidovic/pen/mdpMoWo
adjusted so it fits the bottom sticky div
and so it uses dates instead of integers
*/

.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.sliders_control {
  position: relative;
  min-height: 10px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}